{extend name="Public/base" /}
{block name="body"}
<h2 class="sub-header">网站设置</h2>
<form class="form-horizontal" method="post" action="{:url('index/siteSave')}">
    <div class="form-group">
        <label  class="col-sm-1 control-label">站点名称</label>
        <div class="col-sm-4">
            <input type="text" name="sitename" class="form-control" value="{$siteInfo.sitename}">
        </div>
        <label  class="col-sm-1 control-label">备案号</label>
        <div class="col-sm-4">
            <input type="text" name="beian_code" class="form-control" value="{$siteInfo.beian_code}">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-sm-1 control-label">关键字</label>
        <div class="col-sm-4">
            <input type="text" name="keywords" class="form-control" value="{$siteInfo.keywords}">
        </div>
        <label  class="col-sm-1 control-label">站点描述</label>
        <div class="col-sm-4">
            <input type="text" name="desc" class="form-control" value="{$siteInfo.desc}">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-sm-1 control-label">邮件</label>
        <div class="col-sm-2">
            <input type="text" name="email" class="form-control" value="{$siteInfo.email}">
        </div>
        <label  class="col-sm-1 control-label">电话</label>
        <div class="col-sm-2">
            <input type="text" name="phone" class="form-control" value="{$siteInfo.phone}">
        </div>
        <label  class="col-sm-1 control-label">地址</label>
        <div class="col-sm-3">
            <input type="text" name="address" class="form-control" value="{$siteInfo.address}">
        </div>
    </div>
    <div class="form-group">

        <label  class="col-sm-1 control-label">公司全称</label>
        <div class="col-sm-5">
            <input type="text" name="company" class="form-control" value="{$siteInfo.company}">
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label  class="col-sm-1 control-label">公司简介</label>
        <div class="col-sm-5">
            <textarea id="about_profile" name="about_profile" style="width:512px;height:100px;">{$siteInfo.about_profile}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label  class="col-sm-1 control-label">公司介绍</label>
        <div class="col-sm-10">
            <textarea id="editor_id" name="about_us" style="width:1024px;height:300px;">{$siteInfo.about_us}</textarea>
        </div>
    </div>

    <input name="id" type="hidden" value="{$siteInfo.id}">

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <button type="submit" class="btn btn-primary">设置</button>
        </div>
    </div>
</form>

<script charset="utf-8" src="/static/kindeditor/kindeditor-all-min.js"></script>
<script charset="utf-8" src="/static/kindeditor/lang/zh-CN.js"></script>
<script>
        KindEditor.ready(function(K) {
                window.editor = K.create('#editor_id');
        });
</script>

{/block}
