{extend name="public/base" /}
{block name="body"}
<h2 class="sub-header">用户管理&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:url('user/useradd')}" class="btn btn-primary">添加</a></h2>
<table class="table table-hover">
    <tr>
        <td>序号</td>
        <td>邮箱</td>
        <td>是否为管理</td>
        <td>状态</td>
        <td>操作</td>
    </tr>
    {volist name="userInfo" id="vo"}
    <tr>
        <td>{$vo.id}</td>
        <td>{$vo.email}</td>
        <td>{$vo.is_admin}</td>
        <td>{$vo.status}</td>
        <td>
            <a class="btn btn-primary" href="{:url('user/useredit',['id'=>$vo.id])}">编辑</a>
            <a class="btn btn-primary" href="{:url('user/userDel',['id'=>$vo.id])}">删除</a>
        </td>
    </tr>
    {/volist}
</table>


{/block}