{extend name="public/base" /}
{block name="body"}
<h2 class="sub-header">案例添加</h2>
<form id="cases" method="post" action="{:url('cases/caseupdate')}" enctype="multipart/form-data">
    <div class="form-group">
        <label  class="col-sm-2 control-label">案例名称</label>
        <div class="col-sm-10">
            <input type="text" name="title" class="form-control" value="{$caseInfo.title}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">案例描述</label>
        <div class="col-sm-10">
            <textarea type="text" name="content" style="min-height: 200px" class="form-control">{$caseInfo.content}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">案例图片</label>
        <div class="col-sm-10">
        <input type="file" name="img" class="form-control" id="img" placeholder="案例图片">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">状态</label>
        <div class="col-sm-10">
            <input type="radio" name="status" value="1" {eq name="$caseInfo.status" value="1"}checked{/eq}> 显示
            <input type="radio" name="status" value="0" {eq name="$caseInfo.status" value="0"}checked{/eq}> 隐藏
        </div>
    </div>
    <input type="hidden" name="id" value="{$caseInfo.id}">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" name="submit" class="btn btn-primary" value="保存">
        </div>
    </div>
</form>
<div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
        <p><img src="/uploads/{$caseInfo.img}" style="width: 200px;height: 100px">
    </div>
</div>
{/block}