<!--==========================
Footer
============================-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-lg-left text-center">
                <div class="copyright">{$siteInfo.company}</div>
                <div class="credits">备案号：{$siteInfo.beian_code}</div>
            </div>
            <div class="col-lg-6">
                <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">

                </nav>
            </div>
        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="/static/yc/lib/jquery/jquery.min.js"></script>
<script src="/static/yc/lib/jquery/jquery-migrate.min.js"></script>
<script src="/static/yc/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/yc/lib/easing/easing.min.js"></script>
<script src="/static/yc/lib/wow/wow.min.js"></script>
<script src="/static/yc/lib/superfish/hoverIntent.js"></script>
<script src="/static/yc/lib/superfish/superfish.min.js"></script>
<script src="/static/yc/lib/magnific-popup/magnific-popup.min.js"></script>

<!-- Contact Form JavaScript File -->
<script src="/static/yc/contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="/static/yc/js/main.js"></script>
<script src="/static/yc/scripts/bundle.js"></script>

</body>
</html>